pkgbase = ocat-bin
	pkgdesc = View opencode session exports in a pager
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/someoneonsmile/ocat
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = ocat
	conflicts = ocat
	source_x86_64 = ocat-0.1.1-x86_64-linux-gnu.tar.gz::https://github.com/someoneonsmile/ocat/releases/download/v0.1.1/ocat-x86_64-linux-gnu.tar.gz
	sha256sums_x86_64 = SKIP
	source_aarch64 = ocat-0.1.1-aarch64-linux-gnu.tar.gz::https://github.com/someoneonsmile/ocat/releases/download/v0.1.1/ocat-aarch64-linux-gnu.tar.gz
	sha256sums_aarch64 = SKIP

pkgname = ocat-bin
